/*
Colors used
nav:
nav background:
body:
headers:
body background:
*/

/*
Hind Guntur font weights
Light 300
Regular 400
SemiBold 600
*/
body {
  background-color: #c9c3c3;
  font-family: 'Hind Guntur', sans-serif;
  font-size: 16px;

  /* Sets the font size to 16px */
  font-weight: 300;

  /* Sets the font weight to 300 */
  line-height: 1.6;

  /* Sets the line-height to 1.6 * the font-size */
  color: #0f0f17;
}

/*
Arvo font weights
Regular 400
Italic 400
Bold 700
*/
h1,
h2,
h3,
h4 {
  font-family: 'Arvo', serif;
  font-size: 16px;/* Sets the font size to 16px */
  font-weight: 400;/* Sets the font weight to 400 */
  line-height: 1.4;
  color: #0f0f17;
}

h1 {
  font-size: 2.75em;
  font-weight: 400;
}

h2 {
  font-size: 2.25em;
  font-weight: 400;
}

h3 {
  font-size: 1.75em;
  font-weight: 700;
}

h4 {
  font-size: 1.35em;
  font-weight: 1.4;
}

/* Layout styling */
* {
  box-sizing: border-box;
}

.container {
  padding: 0 15px;
}

/* body */
img {
  width: 100%;
}

.img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

/* header */
header {
  background-color: #0f0f17;
  position: fixed;
  width: 100%;
  padding: 10px 0 4px;
  margin: 0 0 10px;
  box-shadow: 0 10px 5px 0 rgba(50, 50, 50, 0.75);
}

.logo {
  max-width: 150px;
}

/* links */
a {
  color: #400a2e;
  text-decoration: none;/* No underlining */
  transition: 0.2s opacity;
}

a:hover,
a:focus {
  color: #0f0f17;
  text-decoration: none;/* Underlining when hovering over a link */
  opacity: 0.8;/* Opacity of the button to 80% */
}

a:visited {/* visited link */
  color: #400a2e;
}

a:active {/* selected link */
  color: #0f0f17;
}

/* nav styling */
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 600;
  color: #4a4a4a;
}

nav ul li a:visited {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
}

nav ul li a:hover {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 600;
  color: #f806a5;
}

nav ul li a:active {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 600;
  color: #f806a5;
}

/*
.navtoggle li:not(:last-child) {
  display: inline-block;
}
.navtoggle li:last-child {
  display: none;
}
*/
.navtoggle li:last-child {
  display: inline-block;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
  padding-top: 5px;
  color: #fff;
  text-align: center;
}

.navtoggle li .icon:active {
  color: #fff;
}

.navtoggle.responsive li {
  color: #f806a5;
  display: block;
  padding: 15px 0;
}

.navtoggle.responsive li:visited {
  text-decoration: none;
  color: #fff;
}

/* main */
main {
  padding-top: 92.59px;
}

#hero h1 {
  text-align: center; /* Centers text */
  color: #fff;
}

#hero {
  background-color: #0f0f17;
  padding: 250px 0;
  display: inline-block;
  width: 100%;
}

.intro {
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: 1;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 8%;
    width: 100%;
  }
}

#about-me {
  background-color: #fff;
  padding: 50px 0;
}

#about-me h1 {
  color: #0f0f17;
  text-align: center;
}

.my-story h3 {
  color: #0f0f17;
  margin: 30px 0 10px;
}

.my-story h4 {
  color: #0f0f17;
}

.my-story p {
  color: #0f0f17;
  margin: 20px 0 30px;
}

.my-story li {
  color: #0f0f17;
}

.trico {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.illustration {
  display: block;
  width: 50%;
}

.me {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

#work h1 {
  text-align: center;
  margin: 40px 0;
}

#project-case h3 {
  text-align: center; /* Centers text */
}

/* En tus manos Animation */
@keyframes pajaro-move {
  from { transform: translate(50px, 50px); }
  to { transform: translate(1000px, 50px); }
}

.pajaro {
  animation: 35s pajaro-move infinite normal linear;
}

@keyframes cloud-move {
  from { transform: translate(0, 604px); }
  to { transform: translate(134px, 604px); }
}

.nube-1 {
  animation: 35s cloud-move infinite normal linear;
}

@keyframes cloud-move-reverse {
  from { transform: translate(1070px, 827px); }
  to { transform: translate(600px, 827px); }
}

.nube-2 {
  animation: 40s cloud-move-reverse infinite normal linear;
}

/* footer */
footer {
  background-color: #f5e2ef;
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 100px 0;
  margin: 0 0 10px;
}

.info {
  margin: 18px 0;
}

.social {
  margin: 40px 0 18px;
}

/* footer styling */
footer ul {
  list-style-type: none;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

footer ul li a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 600;
  color: #4a4a4a;
}

footer ul li a:visited {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 600;
  color: #400a2e;
}

footer ul li a:hover {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 600;
  color: #0f0f17;
}

footer ul li a:active {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 600;
  color: #0f0f17;
}

/* Make sure you put this rule at the END of your “styles.css” document. It needs to go close to the bottom; otherwise,
it could get overwritten by other less specific rules, such as the general styling rules for all of your hyperlinks */
.button {
  display: inline-block;
  background-color: #f5bee3;
  color: #585858;/* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #f5bee3;/* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:hover {
  display: inline-block;
  background-color: #0f0f17;
  color: #585858;/* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #0f0f17;/* width of the border, type, color */
  opacity: 0.8;/* Opacity of the button to 80% */
  text-decoration: none;
}

.button:active {
  display: inline-block;
  background-color: #0f0f17;
  color: #585858;/* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #0f0f17;/* width of the border, type, color */
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #400a2e;
  text-transform: uppercase;
  border: 2px solid #400a2e;
  transition: 0.2s opacity;
}

.button.contact:hover {
  background-color: #400a2e;
  color: #fff;
  opacity: 0.8;/* Opacity of the button to 80% */
}

/* View resume button */
.resume {
  text-align: center;
}

/* View prototype button */
.prototype {
  text-align: center;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  body {
    font-size: 18px;
  }

  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  nav ul {
    margin: 1em 0;
  }

  nav ul li {
    display: inline-block;
  }

  .logo {
    max-width: 300px;
  }

  main {
    padding-top: 99px;
  }

  .cls-2 {
    font-size: 1.5px;
  }

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    padding: 0 10px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  #about-page h4 {
    margin-top: 0;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-5 {
    width: 41.66%;
  }

  [class*="col-"] {
    float: left;
    padding: 0 10px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}
