/*
Colors used:
Primary Color ():
Secondary Color ():
*/
img {
  width: 100%;
}

body {
  background-color: #ffffff;
  font-family: 'Hind Guntur', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #4a4a4a;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 600;
}

h2 {
  font-size: 2.25em;
  font-weight: 600;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}

a {
  color: #DB53AE;
  text-decoration: none; /* No underlining */
}
a:visited { /* visited link */
  color: #DB53AE;
}
a:hover,
a:focus  {
  color: #5C2349;
  text-decoration: underline; /* Underlining when hovering over a link */
}
a:active { /* selected link */
  color: #5C2349;
}


/* Make sure you put this rule at the END of your “styles.css” document. It needs to go close to the bottom; otherwise, it could get overwritten by other less specific rules, such as the general styling rules for all of your hyperlinks */
.button {
  display: inline-block;
  background-color: #DB53AE;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid: #5C2349; /* width of the border, type, color */
  transition: 0.2s opacity;
}
.button:hover {
  opacity: 0.8; /* Opacity of the button to 80% */
  text-decoration: none;
}
.button:active{
  color: #5C2349;
}
.button.contact {
  background-color: transparent;
  color: #ff7f50;
  text-transform: uppercase;
  border: 2px solid #ff7f50;
}
.button.contact:hover {
  background-color: #ff7f50;
  color: #ffffff;
}
