/*
Colors used:
nav:
nav background:
body: #0f0f17
headers: #5C2349
body background:
*/


/*
Hind Guntur font weights
Light 300
Regular 400
SemiBold 600
*/
body {
  background-color: #ffffff;
  font-family: 'Hind Guntur', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #0f0f17;
}

/*
Playfair Display font weights
Regular 400
Regular 400 Italic
Medium 500
SemiBold 600
SemiBold 600 Italic
Bold 700
*/
h1, h2, h3, h4 {
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.4;
  color: #5C2349;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 500;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

/* Layout styling */
* {
  box-sizing: border-box;
}

.container {
  padding: 0 15px;
}

/* body */
body {
  background-color: #ffffff;
}

img {
  width: 100%;
}

.img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

/* header */
header {
  background-color: #F5E2EF;
  position: fixed;
  width:100%;
  padding: 10px 0 4px;
  margin: 0 0 10px 0;
  box-shadow: 0px 10px 5px 0px rgba(50, 50, 50, 0.75);
}

.logo {
  max-width: 150px;
}

/*nav styling*/
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 600;
  color: #4a4a4a;
}
nav ul li a:visited {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 600;
  color: #DB53AE;
}
nav ul li a:hover {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 600;
  color: #0f0f17;
}
nav ul li a:active {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 600;
  color: #0f0f17;
}

.navtoggle.responsive li:last-child  {
padding: 0 0 10px;
}

.navtoggle li:not(:last-child) {
display: none;
}

.navtoggle, .navtoggle.responsive {
position: relative;
}

.navtoggle.responsive nav {
padding: 24px 0 0;
}

.navtoggle li .icon {
position: absolute;
right: 0;
top: 2px;
font-size: 20px;
padding-right: 0;
padding-top: 5px;
color: #5C2349;
}

.navtoggle li .icon:active {
color: #0f0f17;
}

.navtoggle.responsive li {
text-align: center;
color: #5C2349;
display: block;
padding: 15px 0;
}

.logo.responsive a {
text-align: center;
}

.navtoggle.responsive li:visited {
text-decoration: none;
color: #DB53AE;
}


/* main */
main {
  padding-top: 92.59px;
}

#hero h1 {
  text-align: center; /* Centers text */
}

#hero p {
  text-align: center; /* Centers text */
}

#hero {
  background-color: #F5E2EF;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#about-me{
  background-color: #F5E2EF;
}

#my-story h3 {
  margin: 30px 0 10px 0;
}

.me {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#work .row { padding-bottom: 25px; border-bottom: 1px solid #4a4a4a; }

#project-case h3{
  text-align: center; /* Centers text */
}

/* footer */
footer {
  background-color: #F5E2EF;
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  margin: 0 0 10px 0;
}

.info {
  margin: 18px 0;
}

.social {
  margin: 40px 0 18px 0;
}

/* links */
a {
  color: #DB53AE;
  text-decoration: none;/* No underlining */
  transition:  0.2s opacity;
}
a:hover,
a:focus {
  color: #0f0f17;
  text-decoration: none;/* Underlining when hovering over a link */
  opacity: 0.8;/* Opacity of the button to 80% */
}
a:visited {/* visited link */
  color: #DB53AE;
}
a:active {/* selected link */
  color: #0f0f17;
}

/*footer styling*/
footer ul {
  list-style-type: none;
  padding: 0;
}
footer ul li {
  display: inline-block;
}
footer ul li a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 600;
  color: #4a4a4a;
}
footer ul li a:visited {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 600;
  color: #DB53AE;
}
footer ul li a:hover {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 600;
  color: #0f0f17;
}
footer ul li a:active {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 600;
  color: #0f0f17;
}

/* Animation */
@keyframes pajaro-move {
  from {transform: translate(50px,50px);}
  to {transform: translate(1000px,50px);}
}
.pajaro {
  animation: 35s pajaro-move infinite normal linear;
}
@keyframes cloud-move {
  from {transform: translate(0,604px);}
  to {transform: translate(134px,604px);}
}
.nube-1 {
  animation: 35s cloud-move infinite normal linear;
}
@keyframes cloud-move-reverse {
  from {transform: translate(1070px,827px);}
  to {transform: translate(600px,827px);}
}
.nube-2 {
  animation: 40s cloud-move-reverse infinite normal linear;
}


/* Make sure you put this rule at the END of your “styles.css” document. It needs to go close to the bottom; otherwise,
it could get overwritten by other less specific rules, such as the general styling rules for all of your hyperlinks */
.button {
  display: inline-block;
  background-color: #F5BEE3;
  color: #ffffff;/* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #F5BEE3;/* width of the border, type, color */
  transition:  0.2s opacity;
}

.button:hover {
  display: inline-block;
  background-color: #0f0f17;
  color: #ffffff;/* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #0f0f17;/* width of the border, type, color */
  opacity: 0.8;/* Opacity of the button to 80% */
  text-decoration: none;
}

.button:active {
  display: inline-block;
  background-color: #0f0f17;
  color: #ffffff;/* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #0f0f17;/* width of the border, type, color */
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #DB53AE;
  text-transform: uppercase;
  border: 2px solid #DB53AE;
  transition:  0.2s opacity;
}

.button.contact:hover {
  background-color: #DB53AE;
  color: #ffffff;
  opacity: 0.8;/* Opacity of the button to 80% */
}

/* View resume button */
.resume {
  text-align: center;
}

/* View prototype button */
.prototype {
  text-align: center;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  body {
    font-size: 18px;
  }
  header {
   text-align: unset;
   padding: 20px 0 13px;
 }
 nav {
   width: auto;
   float: right;
   margin-top: 4px;
 }
 nav ul {
  margin: 1em 0;
}
 nav ul li {
   display: inline-block;
}
.navtoggle li:not(:last-child) {
  display: inline-block;
}
.navtoggle li:last-child {
  display: none;
}

 .logo {
   max-width: 300px;
 }
 main {
   padding-top: 99px;
 }
 .cls-2 {
   font-size: 1.5px;
 }
 .col-md-6 {
  width: 50%;
}
[class*="col-"] {
  float: left;
  padding: 0 10px 0 10px;
}
.row:after {
  content: "";
  clear: both;
  display: table;
}
#about-page h4 {
  margin-top: 0;
}
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
.col-lg-7 {
   width: 58.33%;
 }
 .col-lg-5 {
  width: 41.66%;
}
[class*="col-"] {
  float: left;
  padding: 0 10px 0 10px;
}
.row:after {
  content: "";
  clear: both;
  display: table;
}
 .container {
max-width: 1200px;
margin-left: auto;
margin-right: auto;
}
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}
